.heading {
  text-align: center;
  color: crimson;
}
.Input-container {
  line-height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Input-container label {
  color: crimson;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#inputName {
  padding: 1px 8px 2px 8px;
  width: 80vw;
  line-height: 40px;
  border: 0;
  border-bottom: 2px solid black;
  outline: none;
}
input:focus,
input:valid {
  border-color: crimson;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: crimson;
}
